{% extends 'base.html' %}

{% block content %}
<center class="p-4 bg-info h-auto">
    <h1>Your tasks</h1>
    <a class="btn btn-primary mb-3" href="{% url 'task_create' %}">Add Task</a>

    <table class="table">
        <tr>
            <th scope="col"> Title</th>
            <th scope="col">  Description</th>
            <th scope="col"> Status</th>
            <th scope="col"> Action</th>
        </tr>
            {% for task in tasks %}
            {% if task.is_completed is False %}
                <tr>
                  <td><h5>{{ task.taskTitle }}</h5></td>
                  <td><p>{{ task.taskDescription|truncatechars:50 }}</p></td>
                  <td><p>
                      Incomplete
                    </p>
                  </td>
                  <td>
                    <a class="btn btn-danger" href="{% url 'task_delete' task.pk %}">
                      Delete
                    </a>
                    <a class="btn btn-primary" href="{% url 'task_update' task.pk %}">
                      Edit
                    </a>
                    <a class="btn btn-success" href="{% url 'task_done' task.id %}">
                      Completed
                    </a>
                  </td>
              </tr>
            {% endif %}
            {% endfor %}
        </table>
    
</center>
{% endblock %}